# requirements.txt

# Para baixar dados do OpenStretMap e construir os grafos
osmnx
# Para manipulação de grafos e algoritmos de roteamento
networkx
# Para cálculos de distância geográfica
haversine
# Para computação numérica e matrizes
numpy
# Pandas para manipulação de dados
pandas
# Para visualização dos grafos
matplotlib